<a href="https://colab.research.google.com/github/jahid-jabed/Grad_Thesis/blob/main/Corpus_Unkwon_Words.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Frequency Counts

In [2]:
#Update chnk one by one and press Ctrl+M+., Shift+Enter
#Load All Reviews
import pandas as pd
import pickle
path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/dfReviews.pkl'
allReviews = pd.read_pickle(path, compression='infer', storage_options=None)

#Devide Reviews Chunkwise
chnk = 80
length = len(allReviews)//200
Reviews = allReviews.loc[(chnk-1)*length:(chnk*length-1)]

#Tokenize Reviews
import pandas as pd
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
all_stopwords = stopwords.words('english')
all_stopwords.remove('not')
length = len(Reviews)
for data_indx in range((chnk-1)*length, (chnk*length-1)):
  review = re.sub('[^a-zA-Z]', ' ', str(Reviews.at[data_indx,'text']))
  review = review.lower()
  review = review.split()
  review = [ps.stem(word) for word in review if not word in set(all_stopwords)]
  review = ' '.join(review)
  Reviews.at[data_indx,'text'] = ''.join(review)

#Frequency Counts
freqTokens = Reviews.text.str.split(expand=True).stack().value_counts().reset_index() 
freqTokens.columns = ['Word', 'Frequency']

#Saved Frequency Counts
if chnk == 1:
    oldFreqTokens = pd.DataFrame(columns = ['Word', 'Frequency'])
else:
    path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/FrequecyOfTokens/freqTokens{:d}.pkl'.format(chnk-1)
    oldFreqTokens = pd.read_pickle(path, compression='infer', storage_options=None)
freqTokens = pd.concat([oldFreqTokens, freqTokens]).groupby(["Word"], as_index=False)["Frequency"].sum()
saved_path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/FrequecyOfTokens/freqTokens{:d}.pkl'.format(chnk)
freqTokens.to_pickle(saved_path, compression='infer', protocol=4, storage_options=None)

#Print Frequency
freqTokens

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                    Word  Frequency
0                                     !)          1
1                                      "          2
2                                   "Big          1
3                             "CONSUMING          1
4                                     "I          1
...                                  ...        ...
154326                          zzzzzzzx          1
154327                        zzzzzzzzzz          2
154328                      zzzzzzzzzzzz          1
154329  zzzzzzzzzzzzzxzzzzzzzzzzghgxbhcc          1
154330                zzzzzzzzzzzzzzzzzz          1

[154331 rows x 2 columns]

Warning: total number of rows (154331) exceeds max_rows (20000). Limiting to first (20000) rows.